.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    flex-shrink: 1;
}

#genBtn {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition-duration: 0.5s;
  padding: 2em 3em;
  font-size: large;
  font-family: monospace;
  font-weight: bolder;
  letter-spacing: .25em;
  margin-top: 15%;

}

#genBtn:hover {
  background-color: black;
  color: white;
}

.past {
  text-align: center;
}

.present {
  text-align: center;
}

.future {
  text-align: center;
}

.info1 {
  text-align: center;
}

.info2 {
  text-align: center;
}

.info3 {
  text-align: center;
}

@media screen and (max-width: 960px) {
    .cards {
      position: relative;
      display: grid;
    }

    #genBtn {
      padding: 10px 10px;
    
      outline: none;
      cursor: pointer;
      border: 2px solid black;
      
      display: inline-block;
    }

    #genBtn:hover {
      background-color: black;
      color: white;
    }
  }