.about-container {
  background-color: #fff;
  color: #303030;
  width: 100%;
  position: absolute;
  margin: 0 auto;
}

.content-container {
  margin: 0 auto;
  width: 700px;
  text-align: start;
  font-size: larger;
  line-height: 200%;
  position: relative;
  margin-bottom: 20rem;
}

.text-container {
  margin-block: 4rem;
  line-height: 150%;
}


@media screen and (max-width: 1030px) {
  .content-container {
    width: 80%;
  }
  .content-container h1 {
    font-size: xx-large;
  }
}