.auth-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.87);
  width: 900px;
  margin: 0 auto;
  height: 60vh;
  margin-top: 8vh;
  border-radius: 20px;
  color: #303030;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  justify-content: center;
}
.auth-card h1 {
  font-size: 3rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;

}
.auth-form div {
  width: 100%;
  margin-block: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.auth-form label {
  width: 100%;
}
.auth-form input {
  width: 90%;
  height: 50px;
  color: #fff;
  font-size: larger;
  border: none;
  border-radius: 10px;
  padding-left: 2rem;
  background-color: #303030;
  transition: .3s ease-in-out;
}




.form-container {
  width: 80%;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1030px) {
  .auth-card {
    width: 80%;
  }

  .auth-form input {
    font-size: medium;
  }
}
